<div class="home">
  <form action="/story/add/{{username}}" method="POST">
    <div class="row">
      <div class="four">
        {{!-- <h1><b>Add Story:</b></h1> --}}
        <div class="form-group">
        </div>
      </div>

      <div class="row" id="inputBox">
        <div class="four columns">
           <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
      <div class="four columns">
        <button type="submit" class="btn btn-primary mb-2">Add Story</button>
      </div>
    </div>
  </form>
  </div>

  <div class="row" id="input">
    <div class="eight columns">
      <b>Previous Story:</b>

      {{#each stories}}
      <div>
        {{content}}
        <form action="/story/{{id}}/make_public/{{../username}}" method="POST">
          {{#unless is_public}}
          <input type="submit" value="Make public">
          {{/unless}}
        </form>
      </div>
      {{/each}}

    </div>
  </div>
  <div class="row" id="Privatebtn">
    <div class="columns">
      <button type="submit" class="btn btn-primary mb-2">Private</button>
    </div>
  </div>
  <a href="/story">GetHelp</a>
  <button type="submit" class="btn btn-primary mb-2">Add Story</button>
</div>
</div>

<div class="col-lg-5 footer_col">
  <div class="copyright">

    <div class="footer_social">
      <ul class="d-flex flex-row align-items-center justify-content-start">
        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <div>Copyright &copy;2018 by BabesGotByte</div>
      </ul>

    </div>

  </div>
</div>
</div>