{{#each shelters}}
<div class="card p-3 text-center">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{location}}</p>
        <p class="card-text">
            <small class="text-muted">{{contacts}}</small>
        </p>
    </div>
</div>
{{/each}}