<h1>User statistics</h1>

<style>
    .large {
    font-size: 3em;
  }
</style>

<div class="row">
    <button type="button" class="btn btn-primary">        
        <h1><span class="badge badge-secondary">53</span> private users</h1>
    </button>
</div>
<div class="row">
    <button type="button" class="btn btn-info">        
        <h1>Users reading stories <span class="badge badge-secondary">67</span></h1>
    </button>
</div>
<div class="row">
    <button type="button" class="btn btn-warning">        
         <h1> So far <span class="badge badge-secondary">17</span> users looked for a shelter.</h1>
    </button>
</div>
<div class="row">
    <button type="button" class="btn btn-success">        
        <h1><span class="badge badge-secondary">53</span> of users have public stories.</h1>
    </button>
</div>